main {
    margin: 50px;
}
h3 {
    text-align: center;
}
#rugbyImg {
    width: 350px;
    height: 250px;
}
#prezRugby, #prezJapon {
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#prezRugby {
    flex-direction: row;
}
#prezRugby p {
    margin: 30px;
}
#prezRugby button {
    margin: 30px;
    border: none;
    padding: 15px;
    background: rgb(245, 143, 84);
}


#prezJapon {
    flex-direction: row-reverse;
}
#drapeauImg {
    width: 400px;
    height: 300px;
}