{% extends "_base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="/static/about.css">
</head>

<main>
    <div>
        <h3>Le rugby</h3>
        <div id="prezRugby">
            <img id="rugbyImg" src="{% static 'rugby.jpg' %}" alt="image rugby">
            <div>
                <p>Le rugby est un sport collectif qui est née au XIXe siècle. Rugby a XV (rugby union), il s'agit d'une variante du rugby la plus pratiqué aujourd'hui. Ce sport se joue par équipe de 15 joueurs avec quelques remplaçants.</p>

                <p>Le rugby à XV est originaire de l'Angleterre et s'est développé au Royaume-Uni, en Irlande, en Afrique du Sud, en Australie et en Nouvelle-Zélande. Les principales compétitions internationales de rugby à XV sont : le Tournois des Six Nations, le Rugby Championship, et la Coupe du monde.</p>

                <p>L'objectif est de marquer plus de points que l'adversaire par des essaies (poser le ballon dans le but de l'adversaire), des buts, des drops (coups de pieds tombés dans le cours du jeu). Le World Rugby est l'organisation qui s'occupe du classement mondial des sélections nationales et qui en publie les règles.</p>
            </div>
        </div>
        
        <h3>Le Japon</h3>
        <div id="prezJapon">
            <img id="drapeauImg" src="{% static 'drapeau-japon-5075-cm.jpg' %}" alt="drapeau japon">
            <div>
                <p>Le Japon, pays de l'Asie de l'Est, aussi appelé "pays du soleil levant", est le 11e pays le plus peuplé du monde avec 125 millions d'habitants.</p>

                <p>L'équipe nationale du Japon rassemble les meilleurs joueurs sélectionnés par la fédération japonaise de rugby à XV. Leur maillot est rayé rouge et blanc avec un short blanc. Ils sont appelés les Brave Blossom, et ont participés au Tournoi des 5 nations asiatiques et la Pacific Nation Cup.</p>

                <p>Depuis 2010, l'équipe japonaise a vaincu (34-32) les Springboks, équipe Afrique du Sud, lors de la coupe du monde 2015 et également l'Irlande(19-12) en 2019. Ces victoires ont augmenté leur popularité, notamment du rugby au Japon.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}